@model IEnumerable<StudentService.Models.Section>

@{
    ViewBag.Title = "Index";
}

<center> <h2>Section</h2></center>
<style>
    h2 {
        background: #fff;
        font-family: 'Dancing Script', 'Helvetica', sans-serif;
        font-weight: 800;
        font-size: 30px;
        color: #b30086;
    }

    .table th {
        padding: 6px;
    }
</style>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Course.CourseTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Instructor.InstructorName)
        </th>
        <th>
        <th>
        <th>
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-light" })
        </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Course.CourseTitle)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Instructor.InstructorName)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.SectionNumber }, new { @class = "btn btn-light" })
    </td>
    <td>

        @Html.ActionLink("Details", "Details", new { id = item.SectionNumber }, new { @class = "btn btn-light" })
    </td>
    <td>
        @Html.ActionLink("Delete", "Delete", new { id = item.SectionNumber }, new { @class = "btn btn-light" })
    </td>
</tr>
    }

</table>
