@model IEnumerable<StudentService.Models.Student>

@{
    ViewBag.Title = "Index";
}
<center> <h2>Users</h2></center>
<style>
    h2 {
        background: #fff;
        font-family: 'Dancing Script', 'Helvetica', sans-serif;
        font-weight: 800;
        font-size: 30px;
        color: #b30086;
    }

    .table th {
        padding: 6px;
    }
</style>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Level)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentEmail)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Verification)
        </th>
        <th>
        <th>
        
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-light" })
        </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.StudentName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DateOfBirth)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Level)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Mobile)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.StudentEmail)
    </td>

    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.StudentID }, new { @class = "btn btn-light" })
    </td>
    <td>

        @Html.ActionLink("Details", "Details", new { id = item.StudentID }, new { @class = "btn btn-light" })
    </td>
    <td>
        @Html.ActionLink("Delete", "Delete", new { id = item.StudentID }, new { @class = "btn btn-light" })
    </td>
</tr>
    }

</table>
