@model IEnumerable<StudentService.Models.Role>

@{
    ViewBag.Title = "Index";
}
<center> <h2>Roles</h2></center>
<style>
    h2 {
        background: #fff;
        font-family: 'Dancing Script', 'Helvetica', sans-serif;
        font-weight: 800;
        font-size: 30px;
        color: #b30086;
    }

    .table th {
        padding: 6px;
    }
</style>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Role1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoleDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.StudentName)
        </th>
        <th>
        <th>
        <th>
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-light" })
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Role1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoleDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.StudentName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RoleNumber }, new { @class = "btn btn-light" }) |
            </td>
        <td>
            @Html.ActionLink("Details", "Details", null,new { id=item.RoleNumber }, new { @class = "btn btn-light" }) |
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", null,new { id=item.RoleNumber }, new { @class = "btn btn-light" })
        </td>
    </tr>
}

</table>
