@model StudentService.Models.Course

@{
    ViewBag.Title = "Index";

}
<script src="@Url.Content("~/Scripts/umd/popper.min.js")" type="text/javascript"></script>
<link href="~/Content/StyleSheetfinal.css" rel="stylesheet" />

<!-- Default dropright button -->
<div class="dropdown show">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown link
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">


        @foreach (var emp in (ViewBag.DepartmentCode as List<StudentService.Models.Department>))
        {
            <li class="dropdown-submenu">


                <a class="dropdown-item" tabindex="-1" href="#" id="DepartmentCode" name="DepartmentCode">

                    @emp.DepartmentName
                </a>

                <ul class="dropdown-menu">
                    <li class="dropdown-submenu">
                        @foreach (var pop in (ViewBag.course as List<StudentService.Models.Course>))
                        {
                            <a class="dropdown-item" href="#">
                                @pop.Department.DepartmentCode
                            </a>
                        }

                        <ul class="dropdown-menu">
                            <li class="dropdown-submenu">
                                @*<a class="dropdown-item" href="#">@item.SectionDetails.Semester - @item.SectionDetails.Year</a>*@
                                <ul class="dropdown-menu">
                                    @*@foreach (var item2 in Model)
                                         {
                                         <li class="dropdown-submenu">
                                             <a class="dropdown-item" href="#">@item2.MaterialDetails.LectureName</a>
                                    </li>}*@
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        }
    </div>
</div>