@model IEnumerable<StudentService.Models.Project>

@{
    ViewBag.Title = "Index";
}
<center> <h2>Project</h2></center>
<style>
    h2 {
        background: #fff;
        font-family: 'Dancing Script', 'Helvetica', sans-serif;
        font-weight: 800;
        font-size: 30px;
        color: #b30086;
    }

    .table th {
        padding: 6px;
    }
</style>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Abstract)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Professor)
        </th>
        <th>
        <th>
        <th>
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-light" })
        </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ProjectName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Abstract)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Professor)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ProjectID }, new { @class = "btn btn-light" })
    </td>
    <td>

        @Html.ActionLink("Details", "Details", new { id = item.ProjectID }, new { @class = "btn btn-light" })
    </td>
    <td>
        @Html.ActionLink("Delete", "Delete", new { id = item.ProjectID }, new { @class = "btn btn-light" })
    </td>
</tr>
    }

</table>

